div.pagTerms {
    font-family: Caladea, Calibri, sans-serif;
    margin: 3vw;
}
div.pagTerms h1 {
    font-family: "Gill Sans MT Ext Condensed Bold", Caladea, Calibri, sans-serif;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}
div.pagTerms ol li {
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
}
div.pagTerms p {
    text-align: left;
    font-size: medium;
}
