:root {
    --bgImage: url("../img/bg/fondoAdmin.png");
}

body {
    background: var(--bgImage) fixed center;
    background-size: cover;
}

body > div.mainContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

body div.tablaCrud h2 {
    box-shadow: 10px saddlebrown;
    text-align: center;
}

.tabla-datos {
    border-radius: 15%;
    border-color: brown;
    border-style: solid;
    border-collapse: collapse;
}

.tabla-datos th {
    background-color: rgb(0, 0, 149);
    color: white;
    border-right: 1px solid rgb(110, 110, 110);
}

.tabla-datos tr td {
    border:rgb(105, 0, 0) solid 2px;
    padding-left: 5px;
    background-color: rgba(25, 150, 67, 0.874);
    color: rgb(0, 0, 0);
    border: double solid gray;
    /* fix para los campos de Passwd */
    width: min-content;
    max-width: 200px;
    overflow: hidden;
    height: calc(fit-content + 10px);
}

.tabla-datos input.areaTexto1 {
    min-width: parent;
    max-width: fit-content;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tabla-datos td button {
    color: white;
}

.tabla-datos tr td button img {
    max-width: 19pt;
    max-height: 19pt;
}

.tabla-datos td button.edit {
    background-color: rgb(255, 200, 0, 0.50);
    transition: all 0.2s;
}

.tabla-datos td button.edit:hover {
    background-color: rgb(255, 200, 0);
    transition: all 0.2s;
}

.tabla-datos td button.borrar {
    background-color: rgb(255, 37, 37, 0.50);
    transition: all 0.2s;
}

.tabla-datos td button.borrar:hover {
    background-color: rgb(255, 37, 37);
    transition: all 0.2s;
}