:root {
    --bgImage: url("../img/bg/fondoAdmin.png");
}

body {
    background: var(--bgImage) fixed center;
}

body > div.mainContainer {
    display: flex;
    flex-flow: column nowrap;
}

.tabla-datos {
    border-radius: 15%;
    border-color: brown;
    border-style: solid;
    border-collapse: collapse;
}

.tabla-datos th {
    background-color: rgb(18, 18, 131);
    color: white;
    border-right: 1px solid gray;
}

.tabla-datos tr td {
    border:rgb(105, 0, 0) solid 2px;
    padding-left: 10px;
    background-color: black;
    color: white;
    border: double solid gray;
    /* fix para los campos de Passwd */
    width: min-content;
    max-width: 200px;
    overflow: hidden;
    height: calc(fit-content + 10px);
}

.tabla-datos td button {
    color: white;
}

.tabla-datos tr td button img {
    max-width: 15pt;
    max-height: 15pt;
}

.tabla-datos td button.edit {
    background-color: rgb(255, 200, 0, 0.50);
    transition: all 0.2s;
}

.tabla-datos td button.edit:hover {
    background-color: rgb(255, 200, 0);
    transition: all 0.2s;
}

.tabla-datos td button.borrar {
    background-color: rgb(255, 37, 37, 0.50);
    transition: all 0.2s;
}

.tabla-datos td button.borrar:hover {
    background-color: rgb(255, 37, 37);
    transition: all 0.2s;
}