:root {
    --bgImage: url("../img/bg/fondoAdmin.png");
}

body {
    background: var(--bgImage) fixed center;
}

.tabla-datos {
    border-radius: 15%;
    border-color: brown;
    border-collapse: collapse;
}

.tabla-datos hr {
    background-color: rgb(18, 18, 131);
    color: white;
}

.tabla-datos tr td {
    background-color: black;
    color: cadetblue;
    border: double solid gray;
}

.tabla-datos td button {
    color: white;
}

.tabla-datos tr td button img {
    max-width: 15pt;
    max-height: 15pt;
}

.tabla-datos td button.edit {
    background-color: rgb(255, 200, 0, 0.50);
    transition: all 0.2s;
}

.tabla-datos td button.edit:hover {
    background-color: rgb(255, 200, 0);
    transition: all 0.2s;
}

.tabla-datos td button.borrar {
    background-color: rgb(255, 37, 37, 0.50);
    transition: all 0.2s;
}

.tabla-datos td button.borrar:hover {
    background-color: rgb(255, 37, 37);
    transition: all 0.2s;
}