:root {
    --bgColorDEM: rgb(155, 218, 29);
    --bgColorEMP: rgb(22,195,255);
}
::-moz-selection { /* Code for Firefox */
    color: rgb(0, 179, 255);
    background: rgb(255, 255, 34);
}
::selection {
    color: rgb(0, 179, 255);
    background: rgb(255, 255, 34);
}
body {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(180, 180, 180);
    transition: 1.5s ease-in-out;
    text-align: right;
}
body div.chat-main {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
}
body.chat-main div.listaUsers {
    width: 30%;
    height: 100%;
    border: 3px solid darkgray;
    background-color: #4CAF50;
}

body.chat-main div.listaUsers div#title {
    font-family: "Gill Sans MT", Arial, Calibri, sans-serif;
    background-color: darkslategray;
    color: white;
    border-bottom: 2px solid coral;
}

.flex-main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
a.logout-btn {
    border: 2px solid dodgerblue;
    border-radius: 15px;
    padding: 7px;
    background-color: #999999;
    color: darkslategray;
}
a.logout-btn:hover {
    border: 2px solid darkred;
    border-radius: 15px;
    padding: 7px;

    color: orangered;
    background-color: #dddddd;
}

body .listaUsers ul li.activo {
    border: 2px solid dodgerblue;
    background-color: #0B2A68;
}
body .listaUsers ul li:hover {
    border: 2px solid white;
    background-color: #0071a1;
    color: white;
}
body .listaUsers ul li {
    border-top: 1px solid gray;
    color: white;
    background-color: #7c7c7c;
}

/*Barra navegacion*/
.barra-nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    border-bottom: 3px solid darkslateblue;
    margin-top: 0;
    margin-bottom: 0;

    padding-top: 10px;
    background-color: rgba(153, 153, 153, 0.3);
    backdrop-filter: blur(30px);
}
.barra-nav div {
    border-left: 2px solid #1a7ada;
    justify-self: end;
    justify-content: right;

    display: flex;
    flex-flow: row nowrap;
}
.barra-nav li:not(.logo-emp) {
    padding-top: 15px;
    height: 100%;
}

.barra-nav ul li details a {
    flex-flow: column nowrap;
    font-size: 1vw;
}

.barra-nav a:not(.clear) {
    text-decoration: none;
    font-size: 1.5vw;
    margin-right: 2vw;
    width: 4vw;
    height: 100%;
    vertical-align: center;

    text-decoration-thickness: 0;
    text-decoration-color: #0B2A68;

    color: rgba(0, 0, 0, 0.69);
    transition: 0.1s ease-out;
}
.barra-nav a:hover {
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #0B2A68;
    --underline-width: 100%;
    transition: 0.1s ease-in;
}
.barra-nav .activo {
    color: black;
}
.barra-nav .img-nav {
    width: 15vw;
    height: auto;
    border-right: 2px solid grey;
}
.barra-nav .userImg {
    height: fit-content;
    width: auto;
    margin-left: 3vw;
}
.barra-nav .userImg img {
    border: 2px solid #0B2A68;
    overflow: hidden;
    cursor: pointer;
    width: 5vw;
    height: 5vw;
    border-radius: 9999999px;
    padding: 2px;
}