.modalDialogDEM {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: rgb(68, 177, 0);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialogDEM:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialogDEM > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: rgba(218, 218, 218, 0.41);
    background: -moz-linear-gradient(#e8bb3e, rgb(255, 8, 0));
    background: -webkit-linear-gradient(#aea73f, #69cc06);
    background: -o-linear-gradient(#a3973b, #d95e06);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}
.closeDEM {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.closeDEM:hover { background: #ffb700; }

.modalDialogEMP {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: rgb(16, 127, 218);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialogEMP:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialogEMP > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: rgba(218, 218, 218, 0.41);
    background: -moz-linear-gradient(#3ea1e8, rgb(174, 184, 67));
    background: -webkit-linear-gradient(#3fae71, #06a1cc);
    background: -o-linear-gradient(#95a33b, #06bdd9);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}
.closeEMP {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.closeEMP:hover { background: #00d9ff; }

.btn-orange {
    transition: 0.2s all;
    background-color: rgb(255, 140, 0);
    color: black;
}

.btn-orange:hover {
    transition: 0.2s all;
    background-color: rgb(255, 204, 0);
    color: black;
}